<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.oa.project.mapper.ProgressMapper">
    <resultMap id="BaseResultMap" type="com.yj.oa.project.po.Progress">
        <result column="id" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="progress" jdbcType="INTEGER" property="progress"/>
        <result column="situation" jdbcType="VARCHAR" property="situation"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifyTime" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>

    <!--添加-->
    <insert id="insertSelective" parameterType="com.yj.oa.project.po.Progress">

        insert into t_progress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="progress != null">
                progress,
            </if>
            <if test="situation != null">
                situation,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="modifyTime != null">
                modifyTime,
            </if>
            <if test="memo != null">
                memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="progress != null">
                #{progress,jdbcType=INTEGER},
            </if>
            <if test="situation != null">
                #{situation,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteByPrimaryKeys" parameterType="Integer">
        delete from t_progress
        where id IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!--修改-->
    <update id="updateByPrimaryKeySelective" parameterType="com.yj.oa.project.po.Progress">

        update t_progress
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="progress != null">
                progress=#{progress},
            </if>
            <if test="situation != null">
                situation=#{situation},
            </if>
            <if test="createTime != null">
                createTime=#{createTime},
            </if>
            <if test="modifyTime != null">
                modifyTime=#{modifyTime},
            </if>
            <if test="memo != null">
                memo=#{memo},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--主键查询-->
    <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    SELECT *
    FROM
    t_progress
    WHERE id=#{id}
  </select>


    <!--名字查询-->
    <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
    SELECT *
    FROM
    t_progress
    WHERE name=#{name}
  </select>


    <!--查询所有-->
    <select id="selectProgressList" parameterType="com.yj.oa.project.po.Progress" resultMap="BaseResultMap">
        SELECT * from t_progress
        <where>
            <if test="name !=null and name!=''">
                and name=#{name}
            </if>
            <if test="beginTime !=null">
                <![CDATA[   and DATE_FORMAT(modifyTime, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test="overTime !=null">
                <![CDATA[  and DATE_FORMAT(modifyTime, '%Y-%m-%d') <= DATE_FORMAT(#{overTime}, '%Y-%m-%d')    ]]>
            </if>
        </where>
    </select>


</mapper>